<h3><%= @title %></h3>
<p><%= @description if @description %></p>

<ol>
  <% @posts.each_with_index do |post| %>
    <%= render :partial => "post", locals: { post: post } %>
  <% end %>
</ol>

<%= will_paginate @posts %>