/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .post { margin-top: 20px; }
  a.comments { margin-top: 10px; }
  .post-data { margin-top: 5px; }
  #posts { padding-left: 10px; }
  textarea { width: 90% !important; }
  #user_email { width: 90% !important; }

  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin: 0px !important;
  }

  #submit-form-container {
    padding: 0px 8px 0px 8px !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .post { margin-top: 20px; }
  a.comments { margin-top: 10px; }
  .post-data { margin-top: 5px; }
  #posts { padding-left: 10px; }
  textarea { width: 90% !important; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}