td {
  padding-right: 20px;
  padding-top: 5px;
  vertical-align: top;
  color: #828282;
}

textarea {
  width: 550px; 
  height: 150px;
}

.no-text-decoration {
  text-decoration: none;
  color: black;
}