<!-- If the user is not signed in link the arrow to sign up -->
<% if !user_signed_in? %>
  <%= link_to "", new_user_registration_path, :class => "votearrow" %>
<% else %>
  <% if current_user.voted_on_object?(voteable, voteable_type) || voteable.user == current_user %>
    <div id="arrow" style="display: inline-block;width: 15px"></div>
  <% else %>
	<%= link_to "", votes_path(:vote => { :voteable_type =>  voteable_type, :voteable_id => voteable.id, :vote_type => "Up" } ), method: :post, :class => "votearrow" %>
  <% end %>
<% end %>